/vendor/
/node_modules/
composer.lock
package-lock.json
.env
.DS_Store
Thumbs.db
*.log
*.cache
/Public/Images/gallery/*
!/Public/Images/gallery/.gitkeep
/Tests/coverage/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates